html{
  font-family: Verdana;
  font-weight: Normal;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color:white;
}

h2{
  font-size: 20px;
  color:gray;
}

p{
  font-size: 16px;
  color:aquamarine;
}
